@font-face {
  font-family: bangla;
  src: url(banglabold.ttf);
}
@font-face {
  font-family: english;
  src: url(Aileron-Bold.otf);
}
:root {
  --bg1: #ff782e;
  --bg2: #ff782e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:lang(en) {
  font-family: "english", sans-serif;
}
*:lang(bn) {
  font-family: "bangla", sans-serif;
}
a {
  text-decoration: none !important;
}
body,
html {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
button {
  border: none;
  cursor: pointer;
  background: none;
  color: var(--bg1);
  font-size: 20px;
}
table {
  color: #615f5f;
  border-collapse: collapse;
  width: 100%;
}
table tr {
  border-bottom: 1px solid rgba(105, 104, 104, 0.315);
}
th {
  font-family: english;
  text-align: left;
  padding: 8px;
}
td {
  font-family: english;
  text-align: right;
  padding: 8px;
}
.h-full {
  height: 600px;
  width: 500px;
  box-shadow: 0px 0px 34px -12px #615f5f;
  border-radius: 15px;
  justify-content: center;
}
.w-full {
  width: 100%;
}

.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}
.z-100 {
  z-index: 100;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flex {
  display: flex;
}
.hidden {
  display: none;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.text-center {
  text-align: center;
}

/* Card styling */
.card {
  border: 1px solid #ccc;
  color: #aaafb2;
  border-radius: 8px;
  margin: 2px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card .brand-logo img {
  border-radius: 50%;
  border: 2px solid #eca815;
}
.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Padding classes */
.p-1 {
  padding: 1.5px; /* 1px * 1.5 = 1.5px */
}
.p-2 {
  padding: 3px; /* 2px * 1.5 = 3px */
}
.p-3 {
  padding: 4.5px; /* 3px * 1.5 = 4.5px */
}
.p-4 {
  padding: 6px; /* 4px * 1.5 = 6px */
}
.p-5 {
  padding: 7.5px; /* 5px * 1.5 = 7.5px */
}
.p-6 {
  padding: 9px; /* 6px * 1.5 = 9px */
}

/* Margin classes */
.m-1 {
  margin: 1.5px; /* 1px * 1.5 = 1.5px */
}
.m-2 {
  margin: 3px; /* 2px * 1.5 = 3px */
}
.m-3 {
  margin: 4.5px; /* 3px * 1.5 = 4.5px */
}
.m-4 {
  margin: 6px; /* 4px * 1.5 = 6px */
}
.m-5 {
  margin: 7.5px; /* 5px * 1.5 = 7.5px */
}
.m-6 {
  margin: 9px; /* 6px * 1.5 = 9px */
}

.pt-1 {
  padding-top: 1.5px; /* 1px * 1.5 = 1.5px */
}
.pb-1 {
  padding-bottom: 1.5px; /* 1px * 1.5 = 1.5px */
}
.pl-1 {
  padding-left: 1.5px; /* 1px * 1.5 = 1.5px */
}
.pr-1 {
  padding-right: 1.5px; /* 1px * 1.5 = 1.5px */
}

/* Margin classes */
.mt-1 {
  margin-top: 1.5px; /* 1px * 1.5 = 1.5px */
}
.mb-1 {
  margin-bottom: 1.5px; /* 1px * 1.5 = 1.5px */
}
.ml-1 {
  margin-left: 1.5px; /* 1px * 1.5 = 1.5px */
}
.mr-1 {
  margin-right: 1.5px; /* 1px * 1.5 = 1.5px */
}

/* Padding and margin classes for size 2 */
.pt-2 {
  padding-top: 3px; /* 2px * 1.5 = 3px */
}
.pb-2 {
  padding-bottom: 3px; /* 2px * 1.5 = 3px */
}
.pl-2 {
  padding-left: 3px; /* 2px * 1.5 = 3px */
}
.pr-2 {
  padding-right: 3px; /* 2px * 1.5 = 3px */
}
.mt-2 {
  margin-top: 3px; /* 2px * 1.5 = 3px */
}
.mb-2 {
  margin-bottom: 3px; /* 2px * 1.5 = 3px */
}
.ml-2 {
  margin-left: 3px; /* 2px * 1.5 = 3px */
}
.mr-2 {
  margin-right: 3px; /* 2px * 1.5 = 3px */
}

/* Padding and margin classes for size 3 */
.pt-3 {
  padding-top: 4.5px; /* 3px * 1.5 = 4.5px */
}
.pb-3 {
  padding-bottom: 4.5px; /* 3px * 1.5 = 4.5px */
}
.pl-3 {
  padding-left: 4.5px; /* 3px * 1.5 = 4.5px */
}
.pr-3 {
  padding-right: 4.5px; /* 3px * 1.5 = 4.5px */
}
.mt-3 {
  margin-top: 4.5px; /* 3px * 1.5 = 4.5px */
}
.mb-3 {
  margin-bottom: 4.5px; /* 3px * 1.5 = 4.5px */
}
.ml-3 {
  margin-left: 4.5px; /* 3px * 1.5 = 4.5px */
}
.mr-3 {
  margin-right: 4.5px; /* 3px * 1.5 = 4.5px */
}

/* Padding and margin classes for size 4 */
.pt-4 {
  padding-top: 6px; /* 4px * 1.5 = 6px */
}
.pb-4 {
  padding-bottom: 6px; /* 4px * 1.5 = 6px */
}
.pl-4 {
  padding-left: 6px; /* 4px * 1.5 = 6px */
}
.pr-4 {
  padding-right: 6px; /* 4px * 1.5 = 6px */
}
.mt-4 {
  margin-top: 6px; /* 4px * 1.5 = 6px */
}
.mb-4 {
  margin-bottom: 6px; /* 4px * 1.5 = 6px */
}
.ml-4 {
  margin-left: 6px; /* 4px * 1.5 = 6px */
}
.mr-4 {
  margin-right: 6px; /* 4px * 1.5 = 6px */
}

/* Padding and margin classes for size 5 */
.pt-5 {
  padding-top: 7.5px; /* 5px * 1.5 = 7.5px */
}
.pb-5 {
  padding-bottom: 7.5px; /* 5px * 1.5 = 7.5px */
}
.pl-5 {
  padding-left: 7.5px; /* 5px * 1.5 = 7.5px */
}
.pr-5 {
  padding-right: 7.5px; /* 5px * 1.5 = 7.5px */
}
.mt-5 {
  margin-top: 7.5px; /* 5px * 1.5 = 7.5px */
}
.mb-5 {
  margin-bottom: 7.5px; /* 5px * 1.5 = 7.5px */
}
.ml-5 {
  margin-left: 7.5px; /* 5px * 1.5 = 7.5px */
}
.mr-5 {
  margin-right: 7.5px; /* 5px * 1.5 = 7.5px */
}

.btn {
  display: inline-block;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffa600;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.btn:hover {
  background-color: #eca815;
  border-color: #ffbb00;
  color: #000000;
}
.btn:focus {
  outline: none;
}
.btn:active {
  background-color: #f7a62d;
  border-color: #ff7b00;
  color: #000000;
}

/* Custom grid system */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .col-1-sm {
    flex-basis: 8.3333%;
  }
  .col-2-sm {
    flex-basis: 16.6667%;
  }
  .col-3-sm {
    flex-basis: 25%;
  }
  .col-4-sm {
    flex-basis: 33.3333%;
  }
  .col-5-sm {
    flex-basis: 41.6667%;
  }
  .col-6-sm {
    flex-basis: 50%;
  }
  .col-7-sm {
    flex-basis: 58.3333%;
  }
  .col-8-sm {
    flex-basis: 66.6667%;
  }
  .col-9-sm {
    flex-basis: 75%;
  }
  .col-10-sm {
    flex-basis: 83.3333%;
  }
  .col-11-sm {
    flex-basis: 91.6667%;
  }
  .col-12-sm {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-1-md {
    flex-basis: 8.3333%;
  }
  .col-2-md {
    flex-basis: 16.6667%;
  }
  .col-3-md {
    flex-basis: 25%;
  }
  .col-4-md {
    flex-basis: 33.3333%;
  }
  .col-5-md {
    flex-basis: 41.6667%;
  }
  .col-6-md {
    flex-basis: 50%;
  }
  .col-7-md {
    flex-basis: 58.3333%;
  }
  .col-8-md {
    flex-basis: 66.6667%;
  }
  .col-9-md {
    flex-basis: 75%;
  }
  .col-10-md {
    flex-basis: 83.3333%;
  }
  .col-11-md {
    flex-basis: 91.6667%;
  }
  .col-12-md {
    flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-1-lg {
    flex-basis: 8.3333%;
  }
  .col-2-lg {
    flex-basis: 16.6667%;
  }
  .col-3-lg {
    flex-basis: 25%;
  }
  .col-4-lg {
    flex-basis: 33.3333%;
  }
  .col-5-lg {
    flex-basis: 41.6667%;
  }
  .col-6-lg {
    flex-basis: 50%;
  }
  .col-7-lg {
    flex-basis: 58.3333%;
  }
  .col-8-lg {
    flex-basis: 66.6667%;
  }
  .col-9-lg {
    flex-basis: 75%;
  }
  .col-10-lg {
    flex-basis: 83.3333%;
  }
  .col-11-lg {
    flex-basis: 91.6667%;
  }
  .col-12-lg {
    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .col-1-xl {
    flex-basis: 8.3333%;
  }
  .col-2-xl {
    flex-basis: 16.6667%;
  }
  .col-3-xl {
    flex-basis: 25%;
  }
  .col-4-xl {
    flex-basis: 33.3333%;
  }
  .col-5-xl {
    flex-basis: 41.6667%;
  }
  .col-6-xl {
    flex-basis: 50%;
  }
  .col-7-xl {
    flex-basis: 58.3333%;
  }
  .col-8-xl {
    flex-basis: 66.6667%;
  }
  .col-9-xl {
    flex-basis: 75%;
  }
  .col-10-xl {
    flex-basis: 83.3333%;
  }
  .col-11-xl {
    flex-basis: 91.6667%;
  }
  .col-12-xl {
    flex-basis: 100%;
  }
}

.head {
  width: 100%;
  padding: 20px 20px 5px;
  background: var(--bg1);
  border-radius: 15px;
  color: #ffffff;
}
.top-bar {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: #fff;
  color: #ff782e;
  overflow: hidden;
}
.logo img {
  height: 30px;
}
.brand-logo img {
  height: 70px;
  width: 70px;
  background: #fff;
  object-fit: contain;
  border-radius: 50%;
}

.btn-bottom {
  border-radius: 15px;
  background-color: rgb(245, 218, 160);
  color: #ffae00;
  height: 55px;
  border-radius: 15px 15px 0px 0px;
  font-size: 17px;
  font-weight: 700;
  z-index: 1;
}

.main {
  padding: 0 20px 0 20px;
  position: absolute;
  bottom: 55px;
  right: 0;
  left: 0;
  width: 100%;
}
.inner {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height:288px;
  /*height: calc(100vh - 343px);*/
  padding: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
  background: var(--bg1);
}
.inner-2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /*height: calc(100vh - 350px);*/
  height:300px;
  padding: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

input {
  background-color: #ffffff;
  height: 45px;
  border: none;
  width: 100%;
  padding: 7px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-family: bangla;
  color: #ff5d05;
}

input[type="text"]::after {
  content: "|";
  color: #ff5900;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  animation: blink-cursor 1s step-end infinite;
}
@keyframes blink-cursor {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #ff5900;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
h2 {
  /* text-align: center; */
  font-size: 18px;
}

.copy {
  cursor: pointer;
  border-radius: 15px;
  padding: 5px;
  background-color: #00000040;
}
.menu {
  background: orange;
  border-radius: 6px;
  padding: 1px;
  color: #ffffff;
  line-height: 23px;
  z-index: 2;
}

.menu-mbtn {
  font-family: bangla;
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.mbtn.active {
  background: rgb(255, 81, 0) !important;
  color: #ffffff !important;
  border-radius: 6px;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab-content .methods {

  padding: 5px;
  margin: 20px;
  max-height: 200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.method .methods::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.row {
  position: relative;
  width: 100%;
  max-width: 168px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #aaafb2;
  background: #ffffff;
}

.ribbon {
  --f: 4px;
  --r: 7px;
  --t: -1px;
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 8px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: linear-gradient(45deg, #ff782e66, #ff3d00);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset rgba(0, 0, 0, 0.1),
    0 2px 5px rgba(0, 0, 0, 0.2);
}

.row img {
  max-width: 90px;
  width: 100%;
  max-height: 100%;
  transition: transform 0.2s;
}
.row img:hover {
  transform: scale(1.1);
  max-height: 90%;
  max-width: 90%;
  border-radius: 8px;
}
.brand-info {
  text-align: left;
}
/* Media query for small devices */
@media (max-width: 575.98px) {
  .card {
    padding: 0;
  }
  .container {
    padding: 0;
  }
  .h-full {
    width: 100vw;
    height: 100vh;
  }
  .btn-bottom {
    position: fixed;
    bottom: 0;
  }
  .tab-content .methods {
    margin: 20px;
    max-height: calc(100vh - 360px);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .row {
    max-width: 168px;
    height: 65px;
  }
  .inner {
    height: calc(100vh - 340px);
    padding-bottom: 80px;
  }
  .inner-2 {
    height: calc(100vh - 310px);
    padding-bottom: 80px;
  }
  .main{
      bottom:55px
  }
}
