body {
  margin: 0;
  width: 100%;
  background: linear-gradient(350deg, #f4f9ff, #edf4ffc9);
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.centerize {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 34px -12px #c9c9c9;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 1px;
}
.d-flex {
  display: flex;
}
.d-flex-s {
  display: flex;
  justify-content: space-between;
}
.centerize .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
  color: #7b7b7b;
}
.centerize .header .left {
  font-size: 16px;
}
.centerize .header .btn {
  cursor: pointer;
}
.centerize #company_logo {
  margin-top: -110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffffff;
  object-fit: contain;
  border: 4px solid rgba(218, 218, 218, 0.7);
  background-position: center;
}
.centerize #title {
  margin: 0;
  margin-top: 11px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}
.centerize .all_option {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.centerize .all_option .btn {
  cursor: pointer;
  text-align: center;
}
.centerize .all_option .btn svg {
  padding: 6px;
  border-radius: 100%;
  margin-bottom: 4px;
  background-color: #32383e1c;
}
.centerize .all_option .btn p {
  margin: 0;
  font-size: 16px;
}
.centerize .cover_ex {
  margin-top: 0px;
}
.centerize .cover_ex .menu {
  margin: -1px;
  margin-top: 22px;
  margin-bottom: 0;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f71e6d1;
  cursor: pointer;
}
.centerize .cover_ex .menu .box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 23px;
}
.centerize .cover_ex .menu #active {
  background-color: #3f71e6;
}
.centerize .cover_ex .list_methods {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}
.centerize .cover_ex .list_methods .row {
  width: 100%;
  max-width: 168px;
  height: 65px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #f2f6fc;
}
.centerize .cover_ex .list_methods .row img {
  max-width: 95px;
  width: 100%;
  transition: transform 0.2s;
}
.centerize .cover_ex .list_methods .row img:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.centerize .transaction_details {
  margin: 20px;
  box-shadow: 0px 0px 24px -12px #c9c9c9;
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 20px;
}
.centerize .transaction_details #hd {
  margin: 25px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #3f71e6;
}
.centerize .transaction_details .row {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 40px;
  border-bottom: 1px solid #f0f2f5;
  margin-right: 20px;
  justify-content: space-between;
}
.centerize .transaction_details .row p {
  margin: 0;
  color: #6d7f9a;
}
.centerize .livechat {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
}
.centerize .livechat .row {
  width: 100%;
  max-width: 100%;
  border: 1px solid #f2f6fc;
  height: 70px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.centerize .livechat .row img {
  margin-left: 10px;
  margin-right: 10px;
  max-height: 40px;
  max-width: 40px;
  transition: transform 0.2s;
}
.centerize .livechat .row img:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.centerize .livechat .row p {
  line-height: 1.5;
}
.centerize .pay_btn {
  margin: -1px;
  margin-top: 20px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #11c978;
  color: #ffffff;
  border-radius: 0px 0px 8px 8px;
  font-size: 17px;
  cursor: pointer;
}
#footer_watermark {
  position: absolute;
  left: 0;
  margin-top: 60px;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
#footer_watermark a {
  text-decoration: none;
  color: #3f71e6;
  font-weight: 600;
}
.centerize .payment_ty {
  margin: 0px;
}
.centerize .payment_ty #acc {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60px;
}
.centerize .payment_ty .flex_info {
  margin: -1px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  border-top: 7px solid #cf2771;
  background-color: #ffffff;
  height: 70px;
}
.centerize .payment_ty .flex_info img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  border-radius: 100%;
  object-fit: contain;
  background-position: center;
  border: 1px solid #dddddd;
}
.centerize .payment_ty .flex_info .info {
  margin-left: 15px;
  height: 45px;
  width: 100%;
}
.centerize .payment_ty .flex_info .info h3 {
  margin: 0;
  color: #333333;
  font-size: 18px;
  font-weight: normal;
}
.centerize .payment_ty .flex_info .info p {
  margin: 0;
  margin-top: 7px;
  color: #6d7f9a;
  font-size: 14px;
}
.centerize .payment_ty .flex_info #am {
  margin: 0;
  margin-right: 15px;
  color: #333333;
  font-size: 25px;
  font-weight: normal;
  white-space: nowrap;
}
.centerize .input_step_confirm {
  margin: -1px;
  border-radius: 0px;
  padding: 1px;
  margin-bottom: 0px;
  margin-top: 0;
}
.centerize .input_step_confirm #titless {
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.centerize .input_step_confirm #flexs {
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 10px;
  margin-bottom: 16px;
  justify-content: center;
  display: flex;
}
.centerize .input_step_confirm #flexs input {
  width: 100%;
  max-width: 250px;
  height: 42px;
  border-radius: 5px;
  border: transparent;
  text-align: center;
  font-size: 15px;
  outline: none;
}
.centerize .all_step {
  margin: 20px;
  padding: 0;
}
.centerize .all_step li {
  list-style: none;
  display: flex;
}
.centerize .all_step hr {
  border-top-width: 1px;
  border-color: rgb(255 255 255 / 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}
.centerize .all_step li p {
  font-size: 14px;
  margin: 0;
  color: #ffffff;
  line-height: 1.5;
}
.centerize .all_step .marked_text {
  color: #f6c34d;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}
.centerize .all_step a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 6px;
  background-color: #9b1d55;
  color: #ffffff;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: -2px;
  float: right;
}
.centerize .all_step a img {
  width: 14px;
  margin-right: 6px;
}
.centerize .btn_action {
  margin: -1px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 0px;
}
.bg1{
  background-color: #c90008;
}
.centerize .btn_action button {
  width: 100%;
  height: 42px;
  margin-bottom: 7px;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.centerize .footer_text {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.tab_content {
  display: none;
}
.tab_content.active {
  display: block;
}
.toast{
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 12px;
    background: #fff;
    padding: 15px 25px 15px 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 999;
}

.toast.active {
  transform: translateX(0%);
}

.toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  font-size: 16px;
  border-radius: 50%;
  color: #fff;
}

.toast-content .check.success {
  background-color: #41b883;
} 

.toast-content .check.error {
  background-color: #e74c3c;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
  padding-bottom: 7px;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}


.toast.error {
  background-color: #e74c3c;
}
